root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
# Naming conventions
dotnet_naming_style.pascal_case.capitalization = pascal_case
dotnet_naming_style.camel_case.capitalization = camel_case
dotnet_naming_style.prefix_underscore.capitalization = camel_case
dotnet_naming_style.prefix_underscore.required_prefix = _

# Private fields should be _camelCase
dotnet_naming_rule.private_fields_should_be_camel_case.symbols = private_fields
dotnet_naming_rule.private_fields_should_be_camel_case.style = prefix_underscore
dotnet_naming_rule.private_fields_should_be_camel_case.severity = suggestion
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

# Code style
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_expression_bodied_accessors = true:suggestion
csharp_prefer_braces = true:suggestion
csharp_new_line_before_open_brace = all
csharp_indent_case_contents = true

# Formatting
dotnet_sort_system_directives_first = true

# Analyzer suppressions
# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

[*.{yaml,yml}]
indent_size = 2

[*.json]
indent_size = 2

[*.xml]
indent_size = 2
